src/flows/Drift_Rep_Routing.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>myVariable_waitStartTimeAssignment</name>
        <label>myVariable_waitStartTimeAssignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>myVariable_waitStartTimeVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myDecision</targetReference>
        </connector>
    </assignments>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Account Owner Match</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision3</name>
        <label>myDecision3</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision6</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_4</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_4_A1</targetReference>
            </connector>
            <label>Account Owner Team Match</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision6</name>
        <label>myDecision6</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_7</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_7_A1</targetReference>
            </connector>
            <label>Territory Owner Team Match</label>
        </rules>
    </decisions>
    <description>Routing Rules to assign the Drift owner for an account</description>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>CASE([Account].Owner_Name__c ,
&quot;Cameron White&quot;,&quot;Cameron.white@turbonomic.com&quot;,
&quot;Ari Kilgore&quot;,&quot;ari.kilgore@turbonomic.com&quot;,
&quot;Liam Centrella&quot;,&quot;liam.centrella@turbonomic.com&quot;,
&quot;Alexander Opiela&quot;,&quot;alexander.opiela@turbonomic.com&quot;,
&quot;Erica Price&quot;,&quot;erica.price@turbonomic.com&quot;,
&quot;Michael Decina&quot;,&quot;michael.decina@turbonomic.com&quot;,
&quot;Connor Sullivan&quot;,&quot;connor.sullivan@turbonomic.com&quot;,
&quot;N/A&quot;)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_2_myRule_1_A1_4595274859</name>
        <dataType>String</dataType>
        <expression>CASE({!myVariable_current.Owner_Name__c} ,
&quot;Cameron White&quot;,&quot;Cameron.white@turbonomic.com&quot;,
&quot;Ari Kilgore&quot;,&quot;ari.kilgore@turbonomic.com&quot;,
&quot;Liam Centrella&quot;,&quot;liam.centrella@turbonomic.com&quot;,
&quot;Alexander Opiela&quot;,&quot;alexander.opiela@turbonomic.com&quot;,
&quot;Erica Price&quot;,&quot;erica.price@turbonomic.com&quot;,
&quot;Michael Decina&quot;,&quot;michael.decina@turbonomic.com&quot;,
&quot;Connor Sullivan&quot;,&quot;connor.sullivan@turbonomic.com&quot;,
&quot;N/A&quot;)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>CASE([Account].Owner.Team__c,
&quot;Closers Club&quot;,&quot;Cameron.white@turbonomic.com&quot;,
&quot;SEC&quot;,&quot;ari.kilgore@turbonomic.com&quot;,
&quot;The Hunchbacks&quot;,&quot;liam.centrella@turbonomic.com&quot;,
&quot;The Wild West&quot;,&quot;alexander.opiela@turbonomic.com&quot;,
&quot;Enterprise East&quot;,&quot;erica.price@turbonomic.com&quot;,
&quot;Enterprise East 1&quot;,&quot;erica.price@turbonomic.com&quot;,
&quot;Enterprise East 2&quot;,&quot;erica.price@turbonomic.com&quot;,
&quot;Enterprise East 3&quot;,&quot;erica.price@turbonomic.com&quot;,
&quot;Enterprise Central&quot;,&quot;michael.decina@turbonomic.com&quot;,
&quot;Enterprise Central 1&quot;,&quot;michael.decina@turbonomic.com&quot;,
&quot;Enterprise Central 2&quot;,&quot;michael.decina@turbonomic.com&quot;,
&quot;Enterprise Central 3&quot;,&quot;michael.decina@turbonomic.com&quot;,
&quot;Enterprise West&quot;,&quot;connor.sullivan@turbonomic.com&quot;,
&quot;Enterprise West 1&quot;,&quot;connor.sullivan@turbonomic.com&quot;,
&quot;Enterprise West 2&quot;,&quot;connor.sullivan@turbonomic.com&quot;,
&quot;N/A&quot;)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_5_myRule_4_A1_8112936851</name>
        <dataType>String</dataType>
        <expression>CASE({!myVariable_current.Owner.Team__c},
&quot;Closers Club&quot;,&quot;Cameron.white@turbonomic.com&quot;,
&quot;SEC&quot;,&quot;ari.kilgore@turbonomic.com&quot;,
&quot;The Hunchbacks&quot;,&quot;liam.centrella@turbonomic.com&quot;,
&quot;The Wild West&quot;,&quot;alexander.opiela@turbonomic.com&quot;,
&quot;Enterprise East&quot;,&quot;erica.price@turbonomic.com&quot;,
&quot;Enterprise East 1&quot;,&quot;erica.price@turbonomic.com&quot;,
&quot;Enterprise East 2&quot;,&quot;erica.price@turbonomic.com&quot;,
&quot;Enterprise East 3&quot;,&quot;erica.price@turbonomic.com&quot;,
&quot;Enterprise Central&quot;,&quot;michael.decina@turbonomic.com&quot;,
&quot;Enterprise Central 1&quot;,&quot;michael.decina@turbonomic.com&quot;,
&quot;Enterprise Central 2&quot;,&quot;michael.decina@turbonomic.com&quot;,
&quot;Enterprise Central 3&quot;,&quot;michael.decina@turbonomic.com&quot;,
&quot;Enterprise West&quot;,&quot;connor.sullivan@turbonomic.com&quot;,
&quot;Enterprise West 1&quot;,&quot;connor.sullivan@turbonomic.com&quot;,
&quot;Enterprise West 2&quot;,&quot;connor.sullivan@turbonomic.com&quot;,
&quot;N/A&quot;)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>CASE([Account].Territory_Owner_Team__c ,
&quot;Closers Club&quot;,&quot;Cameron.white@turbonomic.com&quot;,
&quot;SEC&quot;,&quot;ari.kilgore@turbonomic.com&quot;,
&quot;The Hunchbacks&quot;,&quot;liam.centrella@turbonomic.com&quot;,
&quot;The Wild West&quot;,&quot;alexander.opiela@turbonomic.com&quot;,
&quot;Enterprise East&quot;,&quot;erica.price@turbonomic.com&quot;,
&quot;Enterprise East 1&quot;,&quot;erica.price@turbonomic.com&quot;,
&quot;Enterprise East 2&quot;,&quot;erica.price@turbonomic.com&quot;,
&quot;Enterprise East 3&quot;,&quot;erica.price@turbonomic.com&quot;,
&quot;Enterprise Central&quot;,&quot;michael.decina@turbonomic.com&quot;,
&quot;Enterprise Central 1&quot;,&quot;michael.decina@turbonomic.com&quot;,
&quot;Enterprise Central 2&quot;,&quot;michael.decina@turbonomic.com&quot;,
&quot;Enterprise Central 3&quot;,&quot;michael.decina@turbonomic.com&quot;,
&quot;Enterprise West&quot;,&quot;connor.sullivan@turbonomic.com&quot;,
&quot;Enterprise West 1&quot;,&quot;connor.sullivan@turbonomic.com&quot;,
&quot;Enterprise West 2&quot;,&quot;connor.sullivan@turbonomic.com&quot;,
&quot;N/A&quot;)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_8_myRule_7_A1_0995376598</name>
        <dataType>String</dataType>
        <expression>CASE({!myVariable_current.Territory_Owner_Team__c} ,
&quot;Closers Club&quot;,&quot;Cameron.white@turbonomic.com&quot;,
&quot;SEC&quot;,&quot;ari.kilgore@turbonomic.com&quot;,
&quot;The Hunchbacks&quot;,&quot;liam.centrella@turbonomic.com&quot;,
&quot;The Wild West&quot;,&quot;alexander.opiela@turbonomic.com&quot;,
&quot;Enterprise East&quot;,&quot;erica.price@turbonomic.com&quot;,
&quot;Enterprise East 1&quot;,&quot;erica.price@turbonomic.com&quot;,
&quot;Enterprise East 2&quot;,&quot;erica.price@turbonomic.com&quot;,
&quot;Enterprise East 3&quot;,&quot;erica.price@turbonomic.com&quot;,
&quot;Enterprise Central&quot;,&quot;michael.decina@turbonomic.com&quot;,
&quot;Enterprise Central 1&quot;,&quot;michael.decina@turbonomic.com&quot;,
&quot;Enterprise Central 2&quot;,&quot;michael.decina@turbonomic.com&quot;,
&quot;Enterprise Central 3&quot;,&quot;michael.decina@turbonomic.com&quot;,
&quot;Enterprise West&quot;,&quot;connor.sullivan@turbonomic.com&quot;,
&quot;Enterprise West 1&quot;,&quot;connor.sullivan@turbonomic.com&quot;,
&quot;Enterprise West 2&quot;,&quot;connor.sullivan@turbonomic.com&quot;,
&quot;N/A&quot;)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>OR(
[Account].Owner.Full_Name__c=&quot;Cameron White&quot;,
[Account].Owner.Full_Name__c=&quot;Ari Kilgore&quot;,
[Account].Owner.Full_Name__c=&quot;Liam Centrella&quot;,
[Account].Owner.Full_Name__c=&quot;Alexander Opiela&quot;,
[Account].Owner.Full_Name__c=&quot;Erica Price&quot;,
[Account].Owner.Full_Name__c=&quot;Michael Decina&quot;,
[Account].Owner.Full_Name__c=&quot;Connor Sullivan&quot;
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>OR(
{!myVariable_current.Owner.Full_Name__c}=&quot;Cameron White&quot;,
{!myVariable_current.Owner.Full_Name__c}=&quot;Ari Kilgore&quot;,
{!myVariable_current.Owner.Full_Name__c}=&quot;Liam Centrella&quot;,
{!myVariable_current.Owner.Full_Name__c}=&quot;Alexander Opiela&quot;,
{!myVariable_current.Owner.Full_Name__c}=&quot;Erica Price&quot;,
{!myVariable_current.Owner.Full_Name__c}=&quot;Michael Decina&quot;,
{!myVariable_current.Owner.Full_Name__c}=&quot;Connor Sullivan&quot;
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>OR(
ISPICKVAL([Account].Owner.Team__c,&quot;Closers Club&quot;),
ISPICKVAL([Account].Owner.Team__c,&quot;SEC&quot;),
ISPICKVAL([Account].Owner.Team__c,&quot;The Hunchbacks&quot;),
ISPICKVAL([Account].Owner.Team__c,&quot;The Wild West&quot;),
ISPICKVAL([Account].Owner.Team__c,&quot;Enterprise East&quot;),
ISPICKVAL([Account].Owner.Team__c,&quot;Enterprise East 1&quot;),
ISPICKVAL([Account].Owner.Team__c,&quot;Enterprise East 2&quot;),
ISPICKVAL([Account].Owner.Team__c,&quot;Enterprise East 3&quot;),
ISPICKVAL([Account].Owner.Team__c,&quot;Enterprise Central&quot;),
ISPICKVAL([Account].Owner.Team__c,&quot;Enterprise Central 1&quot;),
ISPICKVAL([Account].Owner.Team__c,&quot;Enterprise Central 2&quot;),
ISPICKVAL([Account].Owner.Team__c,&quot;Enterprise Central 3&quot;),
ISPICKVAL([Account].Owner.Team__c,&quot;Enterprise West&quot;),
ISPICKVAL([Account].Owner.Team__c,&quot;Enterprise West 1&quot;),
ISPICKVAL([Account].Owner.Team__c,&quot;Enterprise West 2&quot;)
)
</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_4</name>
        <dataType>Boolean</dataType>
        <expression>OR(
ISPICKVAL({!myVariable_current.Owner.Team__c},&quot;Closers Club&quot;),
ISPICKVAL({!myVariable_current.Owner.Team__c},&quot;SEC&quot;),
ISPICKVAL({!myVariable_current.Owner.Team__c},&quot;The Hunchbacks&quot;),
ISPICKVAL({!myVariable_current.Owner.Team__c},&quot;The Wild West&quot;),
ISPICKVAL({!myVariable_current.Owner.Team__c},&quot;Enterprise East&quot;),
ISPICKVAL({!myVariable_current.Owner.Team__c},&quot;Enterprise East 1&quot;),
ISPICKVAL({!myVariable_current.Owner.Team__c},&quot;Enterprise East 2&quot;),
ISPICKVAL({!myVariable_current.Owner.Team__c},&quot;Enterprise East 3&quot;),
ISPICKVAL({!myVariable_current.Owner.Team__c},&quot;Enterprise Central&quot;),
ISPICKVAL({!myVariable_current.Owner.Team__c},&quot;Enterprise Central 1&quot;),
ISPICKVAL({!myVariable_current.Owner.Team__c},&quot;Enterprise Central 2&quot;),
ISPICKVAL({!myVariable_current.Owner.Team__c},&quot;Enterprise Central 3&quot;),
ISPICKVAL({!myVariable_current.Owner.Team__c},&quot;Enterprise West&quot;),
ISPICKVAL({!myVariable_current.Owner.Team__c},&quot;Enterprise West 1&quot;),
ISPICKVAL({!myVariable_current.Owner.Team__c},&quot;Enterprise West 2&quot;)
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>OR(
[Account].Territory_Owner_Team__c=&quot;Closers Club&quot;,
[Account].Territory_Owner_Team__c=&quot;SEC&quot;,
[Account].Territory_Owner_Team__c=&quot;The Hunchbacks&quot;,
[Account].Territory_Owner_Team__c=&quot;The Wild West&quot;,
[Account].Territory_Owner_Team__c=&quot;Enterprise East&quot;,
[Account].Territory_Owner_Team__c=&quot;Enterprise East 1&quot;,
[Account].Territory_Owner_Team__c=&quot;Enterprise East 2&quot;,
[Account].Territory_Owner_Team__c=&quot;Enterprise East 3&quot;,
[Account].Territory_Owner_Team__c=&quot;Enterprise Central&quot;,
[Account].Territory_Owner_Team__c=&quot;Enterprise Central 1&quot;,
[Account].Territory_Owner_Team__c=&quot;Enterprise Central 2&quot;,
[Account].Territory_Owner_Team__c=&quot;Enterprise Central 3&quot;,
[Account].Territory_Owner_Team__c=&quot;Enterprise West&quot;,
[Account].Territory_Owner_Team__c=&quot;Enterprise West 1&quot;,
[Account].Territory_Owner_Team__c=&quot;Enterprise West 2&quot;
)
</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_7</name>
        <dataType>Boolean</dataType>
        <expression>OR(
{!myVariable_current.Territory_Owner_Team__c}=&quot;Closers Club&quot;,
{!myVariable_current.Territory_Owner_Team__c}=&quot;SEC&quot;,
{!myVariable_current.Territory_Owner_Team__c}=&quot;The Hunchbacks&quot;,
{!myVariable_current.Territory_Owner_Team__c}=&quot;The Wild West&quot;,
{!myVariable_current.Territory_Owner_Team__c}=&quot;Enterprise East&quot;,
{!myVariable_current.Territory_Owner_Team__c}=&quot;Enterprise East 1&quot;,
{!myVariable_current.Territory_Owner_Team__c}=&quot;Enterprise East 2&quot;,
{!myVariable_current.Territory_Owner_Team__c}=&quot;Enterprise East 3&quot;,
{!myVariable_current.Territory_Owner_Team__c}=&quot;Enterprise Central&quot;,
{!myVariable_current.Territory_Owner_Team__c}=&quot;Enterprise Central 1&quot;,
{!myVariable_current.Territory_Owner_Team__c}=&quot;Enterprise Central 2&quot;,
{!myVariable_current.Territory_Owner_Team__c}=&quot;Enterprise Central 3&quot;,
{!myVariable_current.Territory_Owner_Team__c}=&quot;Enterprise West&quot;,
{!myVariable_current.Territory_Owner_Team__c}=&quot;Enterprise West 1&quot;,
{!myVariable_current.Territory_Owner_Team__c}=&quot;Enterprise West 2&quot;
)</expression>
    </formulas>
    <interviewLabel>Drift_Rep_Routing-1_InterviewLabel</interviewLabel>
    <label>Drift Rep Routing</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>Account</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Account]</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Set Drift Owner</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Drift Owner Email</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Drift_Owner_Email__c</field>
            <value>
                <elementReference>formula_2_myRule_1_A1_4595274859</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Account]</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_4_A1</name>
        <label>Set Drift Owner</label>
        <locationX>400</locationX>
        <locationY>200</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Drift Owner Email</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Drift_Owner_Email__c</field>
            <value>
                <elementReference>formula_5_myRule_4_A1_8112936851</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Account]</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_7_A1</name>
        <label>Set Drift Owner</label>
        <locationX>700</locationX>
        <locationY>200</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Drift Owner Email</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Drift_Owner_Email__c</field>
            <value>
                <elementReference>formula_8_myRule_7_A1_0995376598</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <startElementReference>myVariable_waitStartTimeAssignment</startElementReference>
    <status>Obsolete</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>myVariable_waitStartTimeVariable</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDateTime</elementReference>
        </value>
    </variables>
</Flow>
