src/flows/Request_EBC_Form.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>EBC_Email</name>
        <label>EBC Email</label>
        <locationX>332</locationX>
        <locationY>436</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>EBC_Request_Complete</targetReference>
        </connector>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EBCEmailTemplate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>EBC Request Form</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>SendToEmails</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>SendToEmailAssignment</name>
        <label>SendToEmailAssignment</label>
        <locationX>268</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>SendToEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>eddie.genao@turbonomic.com</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SendToEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>catherine.kellogg@turbonomic.com</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SendToEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>maria.rodriguez@turbonomic.com</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SendToEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>murphy.vandervelde@turbonomic.com</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SendToEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>tami.pearlstein@turbonomic.com</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>EBC_Email</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Alex_Hesterberg</name>
        <choiceText>Alex Hesterberg</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Alex Hesterberg</stringValue>
        </value>
    </choices>
    <choices>
        <name>Ben_Nye</name>
        <choiceText>Ben Nye</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Ben Nye</stringValue>
        </value>
    </choices>
    <choices>
        <name>Bill_Veghte</name>
        <choiceText>Bill Veghte</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Bill Veghte</stringValue>
        </value>
    </choices>
    <choices>
        <name>Charles_Crouchman</name>
        <choiceText>Charles Crouchman</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Charles Crouchman</stringValue>
        </value>
    </choices>
    <choices>
        <name>Dave_Kranowitz</name>
        <choiceText>Dave Kranowitz</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Dave Kranowitz</stringValue>
        </value>
    </choices>
    <choices>
        <name>Mark_Thurmond</name>
        <choiceText>Mark Thurmond</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Mark Thurmond</stringValue>
        </value>
    </choices>
    <choices>
        <name>Other</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>Oved_Lourie</name>
        <choiceText>Oved Lourie</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Oved Lourie</stringValue>
        </value>
    </choices>
    <choices>
        <name>Shmuel_Kliger</name>
        <choiceText>Shmuel Kliger</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Shmuel Kliger</stringValue>
        </value>
    </choices>
    <choices>
        <name>Steve_Corndell</name>
        <choiceText>Steve Corndell</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Steve Corndell</stringValue>
        </value>
    </choices>
    <formulas>
        <name>RegionalDirector</name>
        <dataType>String</dataType>
        <expression>CASE(
{!OppOwnerTeam},
&quot;Closers Club&quot;,&quot;Cody Carlson&quot;,
&quot;SEC&quot;,&quot;Emilio Siman&quot;,
&quot;The Hunchbacks&quot;,&quot;Susie Custer&quot;,
&quot;The Wild West&quot;,&quot;Gerry Sengendo&quot;,
&quot;Enterprise East 1&quot;,&quot;JR Butler&quot;,
&quot;Enterprise East 2&quot;,&quot;Richard Balch&quot;,
&quot;Enterprise East 3&quot;,&quot;Matthew Nolan&quot;,
&quot;Enterprise Central 1&quot;,&quot;Jon Leiter&quot;,
&quot;Enterprise Central 2&quot;,&quot;Brian Polick&quot;,
&quot;Enterprise Central 3&quot;,&quot;Marty Rauchwerger&quot;,
&quot;Enterprise West 1&quot;,&quot;Randy Bartlewski&quot;,
&quot;Enterprise West 2&quot;,&quot;Brock Alston&quot;,
&quot;&quot;
)</expression>
    </formulas>
    <formulas>
        <name>RegionalVP</name>
        <dataType>String</dataType>
        <expression>IF(CONTAINS({!OppOwnerTeam},&quot;Enterprise East&quot;),&quot;Jeffrey Melvin&quot;,
IF(CONTAINS({!OppOwnerTeam},&quot;Enterprise Central&quot;),&quot;Danny Luong&quot;,
IF(CONTAINS({!OppOwnerTeam},&quot;Enterprise West&quot;),&quot;Judi Feeley&quot;,
IF(OR({!OppOwnerTeam}=&quot;Closers Club&quot;, {!OppOwnerTeam}=&quot;SEC&quot;),&quot;Jeff Irvin&quot;,
IF(OR({!OppOwnerTeam}=&quot;The Hunchbacks&quot;, {!OppOwnerTeam}=&quot;The Wild West&quot;),&quot;Grant Hornung&quot;,
&quot;&quot;)))))</expression>
    </formulas>
    <interviewLabel>Request EBC Form {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Request EBC Form</label>
    <processType>Flow</processType>
    <recordLookups>
        <name>Opportunity_Lookup_0</name>
        <label>Opportunity Lookup</label>
        <locationX>150</locationX>
        <locationY>74</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Request_EBC_Form_0</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>AccountName</assignToReference>
            <field>Account_Name__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>OpportunityAmount</assignToReference>
            <field>Amount</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>OpportunityName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>OpportunityOwner</assignToReference>
            <field>OpportunityOwner__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>OppOwnerTeam</assignToReference>
            <field>Owner_Team__c</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>EBC_Request_Complete</name>
        <label>EBC Request Complete</label>
        <locationX>158</locationX>
        <locationY>540</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>EBCRequestComplete</name>
            <fieldText>EBC Request has been submitted.

(You can now close this window)</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Request_EBC_Form_0</name>
        <label>Request EBC Form</label>
        <locationX>151</locationX>
        <locationY>259</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>SendToEmailAssignment</targetReference>
        </connector>
        <fields>
            <name>Account_Name_0</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>AccountName</elementReference>
            </defaultValue>
            <fieldText>Account Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Opportunity_Name_0</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>OpportunityName</elementReference>
            </defaultValue>
            <fieldText>Opportunity Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Opportunity_Amount_0</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>OpportunityAmount</elementReference>
            </defaultValue>
            <fieldText>Opportunity Amount</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Account_Executive_0</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>OpportunityOwner</elementReference>
            </defaultValue>
            <fieldText>Account Executive</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Regional_Director_0</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>RegionalDirector</elementReference>
            </defaultValue>
            <fieldText>Regional Director</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Regional_Vice_President_0</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>RegionalVP</elementReference>
            </defaultValue>
            <fieldText>Regional Vice President</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Desired_EBC_Date_0</name>
            <dataType>Date</dataType>
            <fieldText>Desired EBC Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Desired_EBC_Location_0</name>
            <dataType>String</dataType>
            <fieldText>Desired EBC Location</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Desired_Executive_Presence_Highlight_up_to_three_selections_0</name>
            <choiceReferences>Ben_Nye</choiceReferences>
            <choiceReferences>Shmuel_Kliger</choiceReferences>
            <choiceReferences>Mark_Thurmond</choiceReferences>
            <choiceReferences>Charles_Crouchman</choiceReferences>
            <choiceReferences>Alex_Hesterberg</choiceReferences>
            <choiceReferences>Oved_Lourie</choiceReferences>
            <choiceReferences>Bill_Veghte</choiceReferences>
            <choiceReferences>Steve_Corndell</choiceReferences>
            <choiceReferences>Dave_Kranowitz</choiceReferences>
            <choiceReferences>Other</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Desired Executive Presence (Highlight up to three selections)</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Desired_Executive_Presence_Other</name>
            <dataType>String</dataType>
            <fieldText>Desired Executive Presence (Other)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Technical_Focus_Points_0</name>
            <fieldText>Technical Focus Points</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Business_Focus_Points_0</name>
            <fieldText>Business Focus Points</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Requesting_Post_EBC_Event_0</name>
            <dataType>Boolean</dataType>
            <fieldText>Requesting Post-EBC Event</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Requesting_Cisco_Involvement_0</name>
            <dataType>Boolean</dataType>
            <fieldText>Requesting Cisco Involvement</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Opportunity_Lookup_0</startElementReference>
    <status>Active</status>
    <textTemplates>
        <name>EBCEmailTemplate</name>
        <text>Turbonomic Executive Briefing Center Request Form:

Account Name:   {!Account_Name_0}
Opportunity Amount: {!Opportunity_Amount_0}
Opportunity Name: {!Opportunity_Name_0}

Account Exectutive:  {!Account_Executive_0}
Regional Director: {!Regional_Director_0}
Regional Vice President: {!Regional_Vice_President_0}

Desired EBC Date: {!Desired_EBC_Date_0}
Desired EBC Location: {!Desired_EBC_Location_0}
Desired Executive Presence: {!Desired_Executive_Presence_Highlight_up_to_three_selections_0}

Desired Executive Presence (Other): {!Desired_Executive_Presence_Other}

Technical Focus Point: {!Technical_Focus_Points_0}


Business Focus Point: {!Business_Focus_Points_0}


Requesting Post-EBC Event: {!Requesting_Post_EBC_Event_0}

Requesting Cisco Involvement: {!Requesting_Cisco_Involvement_0}</text>
    </textTemplates>
    <variables>
        <name>AccountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>DesiredExec</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DesiredExec1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DesiredExecs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Opportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>OpportunityAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>OpportunityName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OpportunityOwner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OppOwnerTeam</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SendToEmails</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
