src/flows/Set_Deal_Terms_on_CPQ_Quote.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>myVariable_waitStartTimeAssignment</name>
        <label>myVariable_waitStartTimeAssignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>myVariable_waitStartTimeVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myDecision</targetReference>
        </connector>
    </assignments>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Renewal - Partner Terms</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision12</name>
        <label>myDecision12</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_13</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_13</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_13_A1</targetReference>
            </connector>
            <label>Standard Terms</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision4</name>
        <label>myDecision4</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision8</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_5</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_5_A1</targetReference>
            </connector>
            <label>Renewal - Direct</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision8</name>
        <label>myDecision8</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision12</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_9</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_9</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_9_A1</targetReference>
            </connector>
            <label>Partner Terms</label>
        </rules>
    </decisions>
    <description>Dynamically set the Deal Terms on CPQ Quote Object</description>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>&quot;1. This order is subject to Turbonomic’s Standard Software Reseller Terms and Conditions (https://turbonomic.com/standard-software-reseller-terms-and-conditions/), unless Turbonomic and Reseller have entered into a separate written agreement with respect to the subject matter thereof.  This order is also governed by the Turbonomic End-User Software License and Maintenance Agreement between Turbonomic and End-User.&quot;
&amp;SUBSTITUTE($Label.NewLine,&quot;-&quot;,&quot;&quot;)&amp;
&quot;2. Partner may accept this quote by (i) issuing a Purchase Order for the products and services identified on this quote, or (ii) returning the signed quote to Turbonomic.&quot;
&amp;SUBSTITUTE($Label.NewLine,&quot;-&quot;,&quot;&quot;)&amp;
&quot;3. Once accepted, the quote, including payment obligations, becomes a binding order under the applicable agreement.&quot;
&amp;SUBSTITUTE($Label.NewLine,&quot;-&quot;,&quot;&quot;)&amp;
&quot;4. Prices exclude taxes and travel expenses. Partner shall pay all reasonable travel and out-of-pocket expenses incurred by Turbonomic hereunder, as well as any applicable sales and use taxes.&quot;
&amp;SUBSTITUTE($Label.NewLine,&quot;-&quot;,&quot;&quot;)&amp;
&quot;5. Any training not completed within 12 months of the contract date will be forfeited unless otherwise specified in writing.&quot;</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_10_myRule_9_A2_1385231986</name>
        <dataType>String</dataType>
        <expression>&quot;1. This order is subject to Turbonomic’s Standard Software Reseller Terms and Conditions (https://turbonomic.com/standard-software-reseller-terms-and-conditions/), unless Turbonomic and Reseller have entered into a separate written agreement with respect to the subject matter thereof.  This order is also governed by the Turbonomic End-User Software License and Maintenance Agreement between Turbonomic and End-User.&quot;
&amp;SUBSTITUTE($Label.NewLine,&quot;-&quot;,&quot;&quot;)&amp;
&quot;2. Partner may accept this quote by (i) issuing a Purchase Order for the products and services identified on this quote, or (ii) returning the signed quote to Turbonomic.&quot;
&amp;SUBSTITUTE($Label.NewLine,&quot;-&quot;,&quot;&quot;)&amp;
&quot;3. Once accepted, the quote, including payment obligations, becomes a binding order under the applicable agreement.&quot;
&amp;SUBSTITUTE($Label.NewLine,&quot;-&quot;,&quot;&quot;)&amp;
&quot;4. Prices exclude taxes and travel expenses. Partner shall pay all reasonable travel and out-of-pocket expenses incurred by Turbonomic hereunder, as well as any applicable sales and use taxes.&quot;
&amp;SUBSTITUTE($Label.NewLine,&quot;-&quot;,&quot;&quot;)&amp;
&quot;5. Any training not completed within 12 months of the contract date will be forfeited unless otherwise specified in writing.&quot;</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>&quot;1. This order is subject to Turbonomic’s Standard Software Reseller Terms and Conditions (https://turbonomic.com/standard-software-reseller-terms-and-conditions/), unless Turbonomic and Reseller have entered into a separate written agreement with respect to the subject matter thereof.  This order is also governed by the Turbonomic End-User Software License and Maintenance Agreement between Turbonomic and End-User.&quot;
&amp;SUBSTITUTE($Label.NewLine,&quot;-&quot;,&quot;&quot;)&amp;
&quot;2. Partner may accept this quote by (i) issuing a Purchase Order for the products and services identified on this quote, or (ii) returning the signed quote to Turbonomic.&quot;
&amp;SUBSTITUTE($Label.NewLine,&quot;-&quot;,&quot;&quot;)&amp;
&quot;3. Once accepted, the quote, including payment obligations, becomes a binding order under the applicable agreement.&quot;
&amp;SUBSTITUTE($Label.NewLine,&quot;-&quot;,&quot;&quot;)&amp;
&quot;4. Prices exclude taxes and travel expenses. Partner shall pay all reasonable travel and out-of-pocket expenses incurred by Turbonomic hereunder, as well as any applicable sales and use taxes.&quot;
&amp;SUBSTITUTE($Label.NewLine,&quot;-&quot;,&quot;&quot;)&amp;
&quot;5. Any training not completed within 12 months of the contract date will be forfeited unless otherwise specified in writing.&quot;</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_11_myRule_9_A1_1643334348</name>
        <dataType>String</dataType>
        <expression>&quot;1. This order is subject to Turbonomic’s Standard Software Reseller Terms and Conditions (https://turbonomic.com/standard-software-reseller-terms-and-conditions/), unless Turbonomic and Reseller have entered into a separate written agreement with respect to the subject matter thereof.  This order is also governed by the Turbonomic End-User Software License and Maintenance Agreement between Turbonomic and End-User.&quot;
&amp;SUBSTITUTE($Label.NewLine,&quot;-&quot;,&quot;&quot;)&amp;
&quot;2. Partner may accept this quote by (i) issuing a Purchase Order for the products and services identified on this quote, or (ii) returning the signed quote to Turbonomic.&quot;
&amp;SUBSTITUTE($Label.NewLine,&quot;-&quot;,&quot;&quot;)&amp;
&quot;3. Once accepted, the quote, including payment obligations, becomes a binding order under the applicable agreement.&quot;
&amp;SUBSTITUTE($Label.NewLine,&quot;-&quot;,&quot;&quot;)&amp;
&quot;4. Prices exclude taxes and travel expenses. Partner shall pay all reasonable travel and out-of-pocket expenses incurred by Turbonomic hereunder, as well as any applicable sales and use taxes.&quot;
&amp;SUBSTITUTE($Label.NewLine,&quot;-&quot;,&quot;&quot;)&amp;
&quot;5. Any training not completed within 12 months of the contract date will be forfeited unless otherwise specified in writing.&quot;</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>&quot;1. This order is subject to the terms and conditions of the Turbonomic End-User Software License and Maintenance Agreement.&quot;
&amp;SUBSTITUTE($Label.NewLine,&quot;-&quot;,&quot;&quot;)&amp;
&quot;2. Licensee may accept this quote by (i) issuing a Purchase Order for the products and services identified on this quote, or (ii) returning the signed quote to Turbonomic.&quot;
&amp;SUBSTITUTE($Label.NewLine,&quot;-&quot;,&quot;&quot;)&amp;
&quot;3. Once accepted, the quote, including payment obligations, becomes a binding order under the applicable agreement.&quot;
&amp;SUBSTITUTE($Label.NewLine,&quot;-&quot;,&quot;&quot;)&amp;
&quot;4. Prices exclude taxes and travel expenses. Licensee shall pay all reasonable travel and out-of-pocket expenses incurred by Turbonomic hereunder, as well as any applicable sales and use taxes.&quot;
&amp;SUBSTITUTE($Label.NewLine,&quot;-&quot;,&quot;&quot;)&amp;
&quot;5. Any training not completed within 12 months of the contract date will be forfeited unless otherwise specified in writing.&quot;</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_14_myRule_13_A2_5321663679</name>
        <dataType>String</dataType>
        <expression>&quot;1. This order is subject to the terms and conditions of the Turbonomic End-User Software License and Maintenance Agreement.&quot;
&amp;SUBSTITUTE($Label.NewLine,&quot;-&quot;,&quot;&quot;)&amp;
&quot;2. Licensee may accept this quote by (i) issuing a Purchase Order for the products and services identified on this quote, or (ii) returning the signed quote to Turbonomic.&quot;
&amp;SUBSTITUTE($Label.NewLine,&quot;-&quot;,&quot;&quot;)&amp;
&quot;3. Once accepted, the quote, including payment obligations, becomes a binding order under the applicable agreement.&quot;
&amp;SUBSTITUTE($Label.NewLine,&quot;-&quot;,&quot;&quot;)&amp;
&quot;4. Prices exclude taxes and travel expenses. Licensee shall pay all reasonable travel and out-of-pocket expenses incurred by Turbonomic hereunder, as well as any applicable sales and use taxes.&quot;
&amp;SUBSTITUTE($Label.NewLine,&quot;-&quot;,&quot;&quot;)&amp;
&quot;5. Any training not completed within 12 months of the contract date will be forfeited unless otherwise specified in writing.&quot;</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>&quot;1. This order is subject to the terms and conditions of the Turbonomic End-User Software License and Maintenance Agreement.&quot;
&amp;SUBSTITUTE($Label.NewLine,&quot;-&quot;,&quot;&quot;)&amp;
&quot;2. Licensee may accept this quote by (i) issuing a Purchase Order for the products and services identified on this quote, or (ii) returning the signed quote to Turbonomic.&quot;
&amp;SUBSTITUTE($Label.NewLine,&quot;-&quot;,&quot;&quot;)&amp;
&quot;3. Once accepted, the quote, including payment obligations, becomes a binding order under the applicable agreement.&quot;
&amp;SUBSTITUTE($Label.NewLine,&quot;-&quot;,&quot;&quot;)&amp;
&quot;4. Prices exclude taxes and travel expenses. Licensee shall pay all reasonable travel and out-of-pocket expenses incurred by Turbonomic hereunder, as well as any applicable sales and use taxes.&quot;
&amp;SUBSTITUTE($Label.NewLine,&quot;-&quot;,&quot;&quot;)&amp;
&quot;5. Any training not completed within 12 months of the contract date will be forfeited unless otherwise specified in writing.&quot;</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_15_myRule_13_A1_4307960033</name>
        <dataType>String</dataType>
        <expression>&quot;1. This order is subject to the terms and conditions of the Turbonomic End-User Software License and Maintenance Agreement.&quot;
&amp;SUBSTITUTE($Label.NewLine,&quot;-&quot;,&quot;&quot;)&amp;
&quot;2. Licensee may accept this quote by (i) issuing a Purchase Order for the products and services identified on this quote, or (ii) returning the signed quote to Turbonomic.&quot;
&amp;SUBSTITUTE($Label.NewLine,&quot;-&quot;,&quot;&quot;)&amp;
&quot;3. Once accepted, the quote, including payment obligations, becomes a binding order under the applicable agreement.&quot;
&amp;SUBSTITUTE($Label.NewLine,&quot;-&quot;,&quot;&quot;)&amp;
&quot;4. Prices exclude taxes and travel expenses. Licensee shall pay all reasonable travel and out-of-pocket expenses incurred by Turbonomic hereunder, as well as any applicable sales and use taxes.&quot;
&amp;SUBSTITUTE($Label.NewLine,&quot;-&quot;,&quot;&quot;)&amp;
&quot;5. Any training not completed within 12 months of the contract date will be forfeited unless otherwise specified in writing.&quot;</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>&quot;1. This order is subject to Turbonomic’s Standard Software Reseller Terms and Conditions (https://turbonomic.com/standard-software-reseller-terms-and-conditions/), unless Turbonomic and Reseller have entered into a separate written agreement with respect to the subject matter thereof.  This order is also governed by the Turbonomic End-User Software License and Maintenance Agreement between Turbonomic and End-User.&quot;
&amp;SUBSTITUTE($Label.NewLine,&quot;-&quot;,&quot;&quot;)&amp;
&quot;2. Partner may accept this quote by (i) issuing a Purchase Order for the products and services identified on this quote, or (ii) returning the signed quote to Turbonomic.&quot;
&amp;SUBSTITUTE($Label.NewLine,&quot;-&quot;,&quot;&quot;)&amp;
&quot;3. Once accepted, the quote, including payment obligations, becomes a binding order under the applicable agreement.&quot;
&amp;SUBSTITUTE($Label.NewLine,&quot;-&quot;,&quot;&quot;)&amp;
&quot;4. Prices exclude taxes and travel expenses. Partner shall pay all reasonable travel and out-of-pocket expenses incurred by Turbonomic hereunder, as well as any applicable sales and use taxes.&quot;
&amp;SUBSTITUTE($Label.NewLine,&quot;-&quot;,&quot;&quot;)&amp;
&quot;5. Any training not completed within 12 months of the contract date will be forfeited unless otherwise specified in writing.&quot;</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_2_myRule_1_A2_0824554384</name>
        <dataType>String</dataType>
        <expression>&quot;1. This order is subject to Turbonomic’s Standard Software Reseller Terms and Conditions (https://turbonomic.com/standard-software-reseller-terms-and-conditions/), unless Turbonomic and Reseller have entered into a separate written agreement with respect to the subject matter thereof.  This order is also governed by the Turbonomic End-User Software License and Maintenance Agreement between Turbonomic and End-User.&quot;
&amp;SUBSTITUTE($Label.NewLine,&quot;-&quot;,&quot;&quot;)&amp;
&quot;2. Partner may accept this quote by (i) issuing a Purchase Order for the products and services identified on this quote, or (ii) returning the signed quote to Turbonomic.&quot;
&amp;SUBSTITUTE($Label.NewLine,&quot;-&quot;,&quot;&quot;)&amp;
&quot;3. Once accepted, the quote, including payment obligations, becomes a binding order under the applicable agreement.&quot;
&amp;SUBSTITUTE($Label.NewLine,&quot;-&quot;,&quot;&quot;)&amp;
&quot;4. Prices exclude taxes and travel expenses. Partner shall pay all reasonable travel and out-of-pocket expenses incurred by Turbonomic hereunder, as well as any applicable sales and use taxes.&quot;
&amp;SUBSTITUTE($Label.NewLine,&quot;-&quot;,&quot;&quot;)&amp;
&quot;5. Any training not completed within 12 months of the contract date will be forfeited unless otherwise specified in writing.&quot;</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>&quot;1. This order is subject to Turbonomic’s Standard Software Reseller Terms and Conditions (https://turbonomic.com/standard-software-reseller-terms-and-conditions/), unless Turbonomic and Reseller have entered into a separate written agreement with respect to the subject matter thereof.  This order is also governed by the Turbonomic End-User Software License and Maintenance Agreement between Turbonomic and End-User.&quot;
&amp;SUBSTITUTE($Label.NewLine,&quot;-&quot;,&quot;&quot;)&amp;
&quot;2. Partner may accept this quote by (i) issuing a Purchase Order for the products and services identified on this quote, or (ii) returning the signed quote to Turbonomic.&quot;
&amp;SUBSTITUTE($Label.NewLine,&quot;-&quot;,&quot;&quot;)&amp;
&quot;3. Once accepted, the quote, including payment obligations, becomes a binding order under the applicable agreement.&quot;
&amp;SUBSTITUTE($Label.NewLine,&quot;-&quot;,&quot;&quot;)&amp;
&quot;4. Prices exclude taxes and travel expenses. Partner shall pay all reasonable travel and out-of-pocket expenses incurred by Turbonomic hereunder, as well as any applicable sales and use taxes.&quot;
&amp;SUBSTITUTE($Label.NewLine,&quot;-&quot;,&quot;&quot;)&amp;
&quot;5. Any training not completed within 12 months of the contract date will be forfeited unless otherwise specified in writing.&quot;</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_3_myRule_1_A1_9697983540</name>
        <dataType>String</dataType>
        <expression>&quot;1. This order is subject to Turbonomic’s Standard Software Reseller Terms and Conditions (https://turbonomic.com/standard-software-reseller-terms-and-conditions/), unless Turbonomic and Reseller have entered into a separate written agreement with respect to the subject matter thereof.  This order is also governed by the Turbonomic End-User Software License and Maintenance Agreement between Turbonomic and End-User.&quot;
&amp;SUBSTITUTE($Label.NewLine,&quot;-&quot;,&quot;&quot;)&amp;
&quot;2. Partner may accept this quote by (i) issuing a Purchase Order for the products and services identified on this quote, or (ii) returning the signed quote to Turbonomic.&quot;
&amp;SUBSTITUTE($Label.NewLine,&quot;-&quot;,&quot;&quot;)&amp;
&quot;3. Once accepted, the quote, including payment obligations, becomes a binding order under the applicable agreement.&quot;
&amp;SUBSTITUTE($Label.NewLine,&quot;-&quot;,&quot;&quot;)&amp;
&quot;4. Prices exclude taxes and travel expenses. Partner shall pay all reasonable travel and out-of-pocket expenses incurred by Turbonomic hereunder, as well as any applicable sales and use taxes.&quot;
&amp;SUBSTITUTE($Label.NewLine,&quot;-&quot;,&quot;&quot;)&amp;
&quot;5. Any training not completed within 12 months of the contract date will be forfeited unless otherwise specified in writing.&quot;</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>&quot;1. This order is subject to the terms and conditions of the Turbonomic End-User Software License and Maintenance Agreement.&quot;
&amp;SUBSTITUTE($Label.NewLine,&quot;-&quot;,&quot;&quot;)&amp;
&quot;2. Licensee may accept this quote by (i) issuing a Purchase Order for the products and services identified on this quote, or (ii) returning the signed quote to Turbonomic.&quot;
&amp;SUBSTITUTE($Label.NewLine,&quot;-&quot;,&quot;&quot;)&amp;
&quot;3. Once accepted, the quote, including payment obligations, becomes a binding order under the applicable agreement.&quot;
&amp;SUBSTITUTE($Label.NewLine,&quot;-&quot;,&quot;&quot;)&amp;
&quot;4. Prices exclude taxes and travel expenses. Licensee shall pay all reasonable travel and out-of-pocket expenses incurred by Turbonomic hereunder, as well as any applicable sales and use taxes.&quot;
&amp;SUBSTITUTE($Label.NewLine,&quot;-&quot;,&quot;&quot;)&amp;
&quot;5. Any training not completed within 12 months of the contract date will be forfeited unless otherwise specified in writing.&quot;</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_6_myRule_5_A2_1691383000</name>
        <dataType>String</dataType>
        <expression>&quot;1. This order is subject to the terms and conditions of the Turbonomic End-User Software License and Maintenance Agreement.&quot;
&amp;SUBSTITUTE($Label.NewLine,&quot;-&quot;,&quot;&quot;)&amp;
&quot;2. Licensee may accept this quote by (i) issuing a Purchase Order for the products and services identified on this quote, or (ii) returning the signed quote to Turbonomic.&quot;
&amp;SUBSTITUTE($Label.NewLine,&quot;-&quot;,&quot;&quot;)&amp;
&quot;3. Once accepted, the quote, including payment obligations, becomes a binding order under the applicable agreement.&quot;
&amp;SUBSTITUTE($Label.NewLine,&quot;-&quot;,&quot;&quot;)&amp;
&quot;4. Prices exclude taxes and travel expenses. Licensee shall pay all reasonable travel and out-of-pocket expenses incurred by Turbonomic hereunder, as well as any applicable sales and use taxes.&quot;
&amp;SUBSTITUTE($Label.NewLine,&quot;-&quot;,&quot;&quot;)&amp;
&quot;5. Any training not completed within 12 months of the contract date will be forfeited unless otherwise specified in writing.&quot;</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>&quot;1. This order is subject to the terms and conditions of the Turbonomic End-User Software License and Maintenance Agreement.&quot;
&amp;SUBSTITUTE($Label.NewLine,&quot;-&quot;,&quot;&quot;)&amp;
&quot;2. Licensee may accept this quote by (i) issuing a Purchase Order for the products and services identified on this quote, or (ii) returning the signed quote to Turbonomic.&quot;
&amp;SUBSTITUTE($Label.NewLine,&quot;-&quot;,&quot;&quot;)&amp;
&quot;3. Once accepted, the quote, including payment obligations, becomes a binding order under the applicable agreement.&quot;
&amp;SUBSTITUTE($Label.NewLine,&quot;-&quot;,&quot;&quot;)&amp;
&quot;4. Prices exclude taxes and travel expenses. Licensee shall pay all reasonable travel and out-of-pocket expenses incurred by Turbonomic hereunder, as well as any applicable sales and use taxes.&quot;
&amp;SUBSTITUTE($Label.NewLine,&quot;-&quot;,&quot;&quot;)&amp;
&quot;5. Any training not completed within 12 months of the contract date will be forfeited unless otherwise specified in writing.&quot;</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_7_myRule_5_A1_7396919671</name>
        <dataType>String</dataType>
        <expression>&quot;1. This order is subject to the terms and conditions of the Turbonomic End-User Software License and Maintenance Agreement.&quot;
&amp;SUBSTITUTE($Label.NewLine,&quot;-&quot;,&quot;&quot;)&amp;
&quot;2. Licensee may accept this quote by (i) issuing a Purchase Order for the products and services identified on this quote, or (ii) returning the signed quote to Turbonomic.&quot;
&amp;SUBSTITUTE($Label.NewLine,&quot;-&quot;,&quot;&quot;)&amp;
&quot;3. Once accepted, the quote, including payment obligations, becomes a binding order under the applicable agreement.&quot;
&amp;SUBSTITUTE($Label.NewLine,&quot;-&quot;,&quot;&quot;)&amp;
&quot;4. Prices exclude taxes and travel expenses. Licensee shall pay all reasonable travel and out-of-pocket expenses incurred by Turbonomic hereunder, as well as any applicable sales and use taxes.&quot;
&amp;SUBSTITUTE($Label.NewLine,&quot;-&quot;,&quot;&quot;)&amp;
&quot;5. Any training not completed within 12 months of the contract date will be forfeited unless otherwise specified in writing.&quot;</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>ISPICKVAL([SBQQ__Quote__c].SBQQ__Type__c,&quot;Renewal – Partner&quot;)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>ISPICKVAL({!myVariable_current.SBQQ__Type__c},&quot;Renewal – Partner&quot;)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>ISPICKVAL([SBQQ__Quote__c].SBQQ__Type__c,&quot;Direct&quot;)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_13</name>
        <dataType>Boolean</dataType>
        <expression>ISPICKVAL({!myVariable_current.SBQQ__Type__c},&quot;Direct&quot;)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>ISPICKVAL([SBQQ__Quote__c].SBQQ__Type__c,&quot;Renewal – Direct&quot;)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_5</name>
        <dataType>Boolean</dataType>
        <expression>ISPICKVAL({!myVariable_current.SBQQ__Type__c},&quot;Renewal – Direct&quot;)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>ISPICKVAL([SBQQ__Quote__c].SBQQ__Type__c,&quot;Partner&quot;)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_9</name>
        <dataType>Boolean</dataType>
        <expression>ISPICKVAL({!myVariable_current.SBQQ__Type__c},&quot;Partner&quot;)</expression>
    </formulas>
    <interviewLabel>Set_Deal_Terms_on_CPQ_Quote-2_InterviewLabel</interviewLabel>
    <label>Set Deal Terms on CPQ Quote</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>SBQQ__Quote__c</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[SBQQ__Quote__c]</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_13_A1</name>
        <label>Set Standard Terms</label>
        <locationX>1300</locationX>
        <locationY>200</locationY>
        <connector>
            <targetReference>myRule_13_A2</targetReference>
        </connector>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Deal Terms</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Deal_Terms__c</field>
            <value>
                <elementReference>formula_15_myRule_13_A1_4307960033</elementReference>
            </value>
        </inputAssignments>
        <object>SBQQ__Quote__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[SBQQ__Quote__c]</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_13_A2</name>
        <label>Set Standard Terms (Copy)</label>
        <locationX>1300</locationX>
        <locationY>300</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Deal Terms (Copy)</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Deal_Terms_Copy__c</field>
            <value>
                <elementReference>formula_14_myRule_13_A2_5321663679</elementReference>
            </value>
        </inputAssignments>
        <object>SBQQ__Quote__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[SBQQ__Quote__c]</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Set Maintenance Terms</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <connector>
            <targetReference>myRule_1_A2</targetReference>
        </connector>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Deal Terms</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Deal_Terms__c</field>
            <value>
                <elementReference>formula_3_myRule_1_A1_9697983540</elementReference>
            </value>
        </inputAssignments>
        <object>SBQQ__Quote__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[SBQQ__Quote__c]</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A2</name>
        <label>Set Maintenance Terms (Copy)</label>
        <locationX>100</locationX>
        <locationY>300</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Deal Terms (Copy)</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Deal_Terms_Copy__c</field>
            <value>
                <elementReference>formula_2_myRule_1_A2_0824554384</elementReference>
            </value>
        </inputAssignments>
        <object>SBQQ__Quote__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[SBQQ__Quote__c]</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_5_A1</name>
        <label>Set Renewal Direct Terms</label>
        <locationX>500</locationX>
        <locationY>200</locationY>
        <connector>
            <targetReference>myRule_5_A2</targetReference>
        </connector>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Deal Terms</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Deal_Terms__c</field>
            <value>
                <elementReference>formula_7_myRule_5_A1_7396919671</elementReference>
            </value>
        </inputAssignments>
        <object>SBQQ__Quote__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[SBQQ__Quote__c]</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_5_A2</name>
        <label>Set Renewal Direct Terms (Copy)</label>
        <locationX>500</locationX>
        <locationY>300</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Deal Terms (Copy)</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Deal_Terms_Copy__c</field>
            <value>
                <elementReference>formula_6_myRule_5_A2_1691383000</elementReference>
            </value>
        </inputAssignments>
        <object>SBQQ__Quote__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[SBQQ__Quote__c]</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_9_A1</name>
        <label>Set Partner Terms</label>
        <locationX>900</locationX>
        <locationY>200</locationY>
        <connector>
            <targetReference>myRule_9_A2</targetReference>
        </connector>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Deal Terms</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Deal_Terms__c</field>
            <value>
                <elementReference>formula_11_myRule_9_A1_1643334348</elementReference>
            </value>
        </inputAssignments>
        <object>SBQQ__Quote__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[SBQQ__Quote__c]</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_9_A2</name>
        <label>Set Partner Terms (Copy)</label>
        <locationX>900</locationX>
        <locationY>300</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Deal Terms (Copy)</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Deal_Terms_Copy__c</field>
            <value>
                <elementReference>formula_10_myRule_9_A2_1385231986</elementReference>
            </value>
        </inputAssignments>
        <object>SBQQ__Quote__c</object>
    </recordUpdates>
    <startElementReference>myVariable_waitStartTimeAssignment</startElementReference>
    <status>Active</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>SBQQ__Quote__c</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__Quote__c</objectType>
    </variables>
    <variables>
        <name>myVariable_waitStartTimeVariable</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDateTime</elementReference>
        </value>
    </variables>
</Flow>
