src/flows/Set_Deal_Terms_on_Quote.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>myVariable_waitStartTimeAssignment</name>
        <label>myVariable_waitStartTimeAssignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>myVariable_waitStartTimeVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myDecision</targetReference>
        </connector>
    </assignments>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_pmetdec</targetReference>
            </connector>
            <label>Renewal - Partner Terms</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision3</name>
        <label>myDecision3</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision6</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_4</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_4_pmetdec</targetReference>
            </connector>
            <label>Renewal - Direct</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision6</name>
        <label>myDecision6</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision9</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_7</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_7_pmetdec</targetReference>
            </connector>
            <label>Partner Terms</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision9</name>
        <label>myDecision9</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_10</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_10</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_10_pmetdec</targetReference>
            </connector>
            <label>Standard Terms</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_10_pmetdec</name>
        <label>Previously Met Decision</label>
        <locationX>1000</locationX>
        <locationY>100</locationY>
        <defaultConnector>
            <targetReference>myRule_10_A1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Previously Met</defaultConnectorLabel>
        <rules>
            <name>myRule_10_pmetnullrule</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_10_A1</targetReference>
            </connector>
            <label>Previously Met - Null</label>
        </rules>
        <rules>
            <name>myRule_10_pmetrule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_10_pmetrule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Previously Met - Prev</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_1_pmetdec</name>
        <label>Previously Met Decision</label>
        <locationX>100</locationX>
        <locationY>100</locationY>
        <defaultConnector>
            <targetReference>myRule_1_A1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Previously Met</defaultConnectorLabel>
        <rules>
            <name>myRule_1_pmetnullrule</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Previously Met - Null</label>
        </rules>
        <rules>
            <name>myRule_1_pmetrule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1_pmetrule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Previously Met - Prev</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_4_pmetdec</name>
        <label>Previously Met Decision</label>
        <locationX>400</locationX>
        <locationY>100</locationY>
        <defaultConnector>
            <targetReference>myRule_4_A1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Previously Met</defaultConnectorLabel>
        <rules>
            <name>myRule_4_pmetnullrule</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_4_A1</targetReference>
            </connector>
            <label>Previously Met - Null</label>
        </rules>
        <rules>
            <name>myRule_4_pmetrule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_4_pmetrule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Previously Met - Prev</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_7_pmetdec</name>
        <label>Previously Met Decision</label>
        <locationX>700</locationX>
        <locationY>100</locationY>
        <defaultConnector>
            <targetReference>myRule_7_A1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Previously Met</defaultConnectorLabel>
        <rules>
            <name>myRule_7_pmetnullrule</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_7_A1</targetReference>
            </connector>
            <label>Previously Met - Null</label>
        </rules>
        <rules>
            <name>myRule_7_pmetrule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_7_pmetrule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Previously Met - Prev</label>
        </rules>
    </decisions>
    <description>Dynamically set the Deal Terms on Quote</description>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>&quot;1. This order is subject to the terms and conditions of the Turbonomic End-User Software License and Maintenance Agreement.&quot;
&amp;SUBSTITUTE($Label.NewLine,&quot;-&quot;,&quot;&quot;)&amp;
&quot;2. Licensee may accept this quote by (i) issuing a Purchase Order for the products and services identified on this quote, or (ii) returning the signed quote to Turbonomic.&quot;
&amp;SUBSTITUTE($Label.NewLine,&quot;-&quot;,&quot;&quot;)&amp;
&quot;3. Once accepted, the quote, including payment obligations, becomes a binding order under the applicable agreement.&quot;
&amp;SUBSTITUTE($Label.NewLine,&quot;-&quot;,&quot;&quot;)&amp;
&quot;4. Prices exclude taxes and travel expenses. Licensee shall pay all reasonable travel and out-of-pocket expenses incurred by Turbonomic hereunder, as well as any applicable sales and use taxes.&quot;
&amp;SUBSTITUTE($Label.NewLine,&quot;-&quot;,&quot;&quot;)&amp;
&quot;5. Any training or services not completed within 12 months of the contract date will be forfeited unless otherwise specified in writing.&quot;</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_11_myRule_10_A1_7005398332</name>
        <dataType>String</dataType>
        <expression>&quot;1. This order is subject to the terms and conditions of the Turbonomic End-User Software License and Maintenance Agreement.&quot;
&amp;SUBSTITUTE({!$Label.NewLine},&quot;-&quot;,&quot;&quot;)&amp;
&quot;2. Licensee may accept this quote by (i) issuing a Purchase Order for the products and services identified on this quote, or (ii) returning the signed quote to Turbonomic.&quot;
&amp;SUBSTITUTE({!$Label.NewLine},&quot;-&quot;,&quot;&quot;)&amp;
&quot;3. Once accepted, the quote, including payment obligations, becomes a binding order under the applicable agreement.&quot;
&amp;SUBSTITUTE({!$Label.NewLine},&quot;-&quot;,&quot;&quot;)&amp;
&quot;4. Prices exclude taxes and travel expenses. Licensee shall pay all reasonable travel and out-of-pocket expenses incurred by Turbonomic hereunder, as well as any applicable sales and use taxes.&quot;
&amp;SUBSTITUTE({!$Label.NewLine},&quot;-&quot;,&quot;&quot;)&amp;
&quot;5. Any training or services not completed within 12 months of the contract date will be forfeited unless otherwise specified in writing.&quot;</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>&quot;1. This order is subject to Turbonomic’s Standard Software Reseller Terms and Conditions (https://turbonomic.com/standard-software-reseller-terms-and-conditions/), unless Turbonomic and Reseller have entered into a separate written agreement with respect to the subject matter thereof.  This order is also governed by the Turbonomic End-User Software License and Maintenance Agreement between Turbonomic and End-User.&quot;
&amp;SUBSTITUTE($Label.NewLine,&quot;-&quot;,&quot;&quot;)&amp;
&quot;2. Partner may accept this quote by (i) issuing a Purchase Order for the products and services identified on this quote, or (ii) returning the signed quote to Turbonomic.&quot;
&amp;SUBSTITUTE($Label.NewLine,&quot;-&quot;,&quot;&quot;)&amp;
&quot;3. Once accepted, the quote, including payment obligations, becomes a binding order under the applicable agreement.&quot;
&amp;SUBSTITUTE($Label.NewLine,&quot;-&quot;,&quot;&quot;)&amp;
&quot;4. Prices exclude taxes and travel expenses. Partner shall pay all reasonable travel and out-of-pocket expenses incurred by Turbonomic hereunder, as well as any applicable sales and use taxes.&quot;
&amp;SUBSTITUTE($Label.NewLine,&quot;-&quot;,&quot;&quot;)&amp;
&quot;5. Any training or services not completed within 12 months of the contract date will be forfeited unless otherwise specified in writing.&quot;</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_2_myRule_1_A1_1929083925</name>
        <dataType>String</dataType>
        <expression>&quot;1. This order is subject to Turbonomic’s Standard Software Reseller Terms and Conditions (https://turbonomic.com/standard-software-reseller-terms-and-conditions/), unless Turbonomic and Reseller have entered into a separate written agreement with respect to the subject matter thereof.  This order is also governed by the Turbonomic End-User Software License and Maintenance Agreement between Turbonomic and End-User.&quot;
&amp;SUBSTITUTE({!$Label.NewLine},&quot;-&quot;,&quot;&quot;)&amp;
&quot;2. Partner may accept this quote by (i) issuing a Purchase Order for the products and services identified on this quote, or (ii) returning the signed quote to Turbonomic.&quot;
&amp;SUBSTITUTE({!$Label.NewLine},&quot;-&quot;,&quot;&quot;)&amp;
&quot;3. Once accepted, the quote, including payment obligations, becomes a binding order under the applicable agreement.&quot;
&amp;SUBSTITUTE({!$Label.NewLine},&quot;-&quot;,&quot;&quot;)&amp;
&quot;4. Prices exclude taxes and travel expenses. Partner shall pay all reasonable travel and out-of-pocket expenses incurred by Turbonomic hereunder, as well as any applicable sales and use taxes.&quot;
&amp;SUBSTITUTE({!$Label.NewLine},&quot;-&quot;,&quot;&quot;)&amp;
&quot;5. Any training or services not completed within 12 months of the contract date will be forfeited unless otherwise specified in writing.&quot;</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>&quot;1. This order is subject to the terms and conditions of the Turbonomic End-User Software License and Maintenance Agreement.&quot;
&amp;SUBSTITUTE($Label.NewLine,&quot;-&quot;,&quot;&quot;)&amp;
&quot;2. Licensee may accept this quote by (i) issuing a Purchase Order for the products and services identified on this quote, or (ii) returning the signed quote to Turbonomic.&quot;
&amp;SUBSTITUTE($Label.NewLine,&quot;-&quot;,&quot;&quot;)&amp;
&quot;3. Once accepted, the quote, including payment obligations, becomes a binding order under the applicable agreement.&quot;
&amp;SUBSTITUTE($Label.NewLine,&quot;-&quot;,&quot;&quot;)&amp;
&quot;4. Prices exclude taxes and travel expenses. Licensee shall pay all reasonable travel and out-of-pocket expenses incurred by Turbonomic hereunder, as well as any applicable sales and use taxes.&quot;
&amp;SUBSTITUTE($Label.NewLine,&quot;-&quot;,&quot;&quot;)&amp;
&quot;5. Any training or services not completed within 12 months of the contract date will be forfeited unless otherwise specified in writing.&quot;</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_5_myRule_4_A1_9333583893</name>
        <dataType>String</dataType>
        <expression>&quot;1. This order is subject to the terms and conditions of the Turbonomic End-User Software License and Maintenance Agreement.&quot;
&amp;SUBSTITUTE({!$Label.NewLine},&quot;-&quot;,&quot;&quot;)&amp;
&quot;2. Licensee may accept this quote by (i) issuing a Purchase Order for the products and services identified on this quote, or (ii) returning the signed quote to Turbonomic.&quot;
&amp;SUBSTITUTE({!$Label.NewLine},&quot;-&quot;,&quot;&quot;)&amp;
&quot;3. Once accepted, the quote, including payment obligations, becomes a binding order under the applicable agreement.&quot;
&amp;SUBSTITUTE({!$Label.NewLine},&quot;-&quot;,&quot;&quot;)&amp;
&quot;4. Prices exclude taxes and travel expenses. Licensee shall pay all reasonable travel and out-of-pocket expenses incurred by Turbonomic hereunder, as well as any applicable sales and use taxes.&quot;
&amp;SUBSTITUTE({!$Label.NewLine},&quot;-&quot;,&quot;&quot;)&amp;
&quot;5. Any training or services not completed within 12 months of the contract date will be forfeited unless otherwise specified in writing.&quot;</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>&quot;1. This order is subject to Turbonomic’s Standard Software Reseller Terms and Conditions (https://turbonomic.com/standard-software-reseller-terms-and-conditions/), unless Turbonomic and Reseller have entered into a separate written agreement with respect to the subject matter thereof.  This order is also governed by the Turbonomic End-User Software License and Maintenance Agreement between Turbonomic and End-User.&quot;
&amp;SUBSTITUTE($Label.NewLine,&quot;-&quot;,&quot;&quot;)&amp;
&quot;2. Partner may accept this quote by (i) issuing a Purchase Order for the products and services identified on this quote, or (ii) returning the signed quote to Turbonomic.&quot;
&amp;SUBSTITUTE($Label.NewLine,&quot;-&quot;,&quot;&quot;)&amp;
&quot;3. Once accepted, the quote, including payment obligations, becomes a binding order under the applicable agreement.&quot;
&amp;SUBSTITUTE($Label.NewLine,&quot;-&quot;,&quot;&quot;)&amp;
&quot;4. Prices exclude taxes and travel expenses. Partner shall pay all reasonable travel and out-of-pocket expenses incurred by Turbonomic hereunder, as well as any applicable sales and use taxes.&quot;
&amp;SUBSTITUTE($Label.NewLine,&quot;-&quot;,&quot;&quot;)&amp;
&quot;5. Any training or services not completed within 12 months of the contract date will be forfeited unless otherwise specified in writing.&quot;</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_8_myRule_7_A1_3478179583</name>
        <dataType>String</dataType>
        <expression>&quot;1. This order is subject to Turbonomic’s Standard Software Reseller Terms and Conditions (https://turbonomic.com/standard-software-reseller-terms-and-conditions/), unless Turbonomic and Reseller have entered into a separate written agreement with respect to the subject matter thereof.  This order is also governed by the Turbonomic End-User Software License and Maintenance Agreement between Turbonomic and End-User.&quot;
&amp;SUBSTITUTE({!$Label.NewLine},&quot;-&quot;,&quot;&quot;)&amp;
&quot;2. Partner may accept this quote by (i) issuing a Purchase Order for the products and services identified on this quote, or (ii) returning the signed quote to Turbonomic.&quot;
&amp;SUBSTITUTE({!$Label.NewLine},&quot;-&quot;,&quot;&quot;)&amp;
&quot;3. Once accepted, the quote, including payment obligations, becomes a binding order under the applicable agreement.&quot;
&amp;SUBSTITUTE({!$Label.NewLine},&quot;-&quot;,&quot;&quot;)&amp;
&quot;4. Prices exclude taxes and travel expenses. Partner shall pay all reasonable travel and out-of-pocket expenses incurred by Turbonomic hereunder, as well as any applicable sales and use taxes.&quot;
&amp;SUBSTITUTE({!$Label.NewLine},&quot;-&quot;,&quot;&quot;)&amp;
&quot;5. Any training or services not completed within 12 months of the contract date will be forfeited unless otherwise specified in writing.&quot;</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>ISPICKVAL([Quote].Quote_Type__c,&quot;Renewal – Partner&quot;)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>ISPICKVAL({!myVariable_current.Quote_Type__c},&quot;Renewal – Partner&quot;)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>ISPICKVAL([Quote].Quote_Type__c,&quot;Direct&quot;)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_10</name>
        <dataType>Boolean</dataType>
        <expression>ISPICKVAL({!myVariable_current.Quote_Type__c},&quot;Direct&quot;)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>ISPICKVAL([Quote].Quote_Type__c,&quot;Direct&quot;)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_10_pmetrule</name>
        <dataType>Boolean</dataType>
        <expression>ISPICKVAL({!myVariable_old.Quote_Type__c},&quot;Direct&quot;)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>ISPICKVAL([Quote].Quote_Type__c,&quot;Renewal – Partner&quot;)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1_pmetrule</name>
        <dataType>Boolean</dataType>
        <expression>ISPICKVAL({!myVariable_old.Quote_Type__c},&quot;Renewal – Partner&quot;)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>ISPICKVAL([Quote].Quote_Type__c,&quot;Renewal – Direct&quot;)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_4</name>
        <dataType>Boolean</dataType>
        <expression>ISPICKVAL({!myVariable_current.Quote_Type__c},&quot;Renewal – Direct&quot;)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>ISPICKVAL([Quote].Quote_Type__c,&quot;Renewal – Direct&quot;)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_4_pmetrule</name>
        <dataType>Boolean</dataType>
        <expression>ISPICKVAL({!myVariable_old.Quote_Type__c},&quot;Renewal – Direct&quot;)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>ISPICKVAL([Quote].Quote_Type__c,&quot;Partner&quot;)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_7</name>
        <dataType>Boolean</dataType>
        <expression>ISPICKVAL({!myVariable_current.Quote_Type__c},&quot;Partner&quot;)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>ISPICKVAL([Quote].Quote_Type__c,&quot;Partner&quot;)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_7_pmetrule</name>
        <dataType>Boolean</dataType>
        <expression>ISPICKVAL({!myVariable_old.Quote_Type__c},&quot;Partner&quot;)</expression>
    </formulas>
    <interviewLabel>Set_Deal_Terms_on_Quote-2_InterviewLabel</interviewLabel>
    <label>Set Deal Terms on Quote2</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>Quote</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Quote]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_10_A1</name>
        <label>Set Standard Terms</label>
        <locationX>1000</locationX>
        <locationY>200</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Deal Terms</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Deal_Terms__c</field>
            <value>
                <elementReference>formula_11_myRule_10_A1_7005398332</elementReference>
            </value>
        </inputAssignments>
        <object>Quote</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Quote]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Set Maintenance Terms</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Deal Terms</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Deal_Terms__c</field>
            <value>
                <elementReference>formula_2_myRule_1_A1_1929083925</elementReference>
            </value>
        </inputAssignments>
        <object>Quote</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Quote]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_4_A1</name>
        <label>Set Renewal Direct Terms</label>
        <locationX>400</locationX>
        <locationY>200</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Deal Terms</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Deal_Terms__c</field>
            <value>
                <elementReference>formula_5_myRule_4_A1_9333583893</elementReference>
            </value>
        </inputAssignments>
        <object>Quote</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Quote]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_7_A1</name>
        <label>Set Partner Terms</label>
        <locationX>700</locationX>
        <locationY>200</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Deal Terms</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Deal_Terms__c</field>
            <value>
                <elementReference>formula_8_myRule_7_A1_3478179583</elementReference>
            </value>
        </inputAssignments>
        <object>Quote</object>
    </recordUpdates>
    <startElementReference>myVariable_waitStartTimeAssignment</startElementReference>
    <status>Active</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Quote</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Quote</objectType>
    </variables>
    <variables>
        <name>myVariable_waitStartTimeVariable</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDateTime</elementReference>
        </value>
    </variables>
</Flow>
