src/flows/V2_Cisco_Deal_Stage_Change.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Opp_stage_change_alert_Cisco_Team</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Opp stage change alert Cisco Team</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <actionName>Opportunity.Opp_stage_change_alert_Cisco_Team</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>myVariable_waitStartTimeAssignment</name>
        <label>myVariable_waitStartTimeAssignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>myVariable_waitStartTimeVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myDecision</targetReference>
        </connector>
    </assignments>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Opp Stage Change</label>
        </rules>
    </decisions>
    <description>Rewrite of original PB flow of same name to update to the current version</description>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND( 
[Opportunity].Account_Name__c&lt;&gt;&quot;Rotondi Masonry&quot;, 
[Opportunity].Cisco_Opportunity__c = TRUE, 
NOT(ISPICKVAL([Opportunity].Type,&quot;Maintenance Renewal&quot;)), 
RIGHT([Opportunity].Email_Update_Stamp__c,3)&lt;&gt;&quot;ZZZ&quot;, 

OR( 
AND( 
ISNEW(), 
OR(ISPICKVAL([Opportunity].StageName,&quot;Pipeline&quot;), 
ISPICKVAL([Opportunity].StageName,&quot;Upside&quot;), 
ISPICKVAL([Opportunity].StageName,&quot;Strong Upside&quot;), 
ISPICKVAL([Opportunity].StageName,&quot;Commit&quot;), 
ISPICKVAL([Opportunity].StageName,&quot;PO received&quot;), 
ISPICKVAL([Opportunity].StageName,&quot;Closed Won&quot;), 
ISPICKVAL([Opportunity].StageName,&quot;Closed Lost&quot;))), 
AND( 
ISCHANGED([Opportunity].StageName), 
ISPICKVAL([Opportunity].StageName,&quot;Identify&quot;), 
OR(ISPICKVAL(PRIORVALUE([Opportunity].StageName),&quot;Pipeline&quot;), 
ISPICKVAL(PRIORVALUE([Opportunity].StageName),&quot;Upside&quot;), 
ISPICKVAL(PRIORVALUE([Opportunity].StageName),&quot;Strong Upside&quot;), 
ISPICKVAL(PRIORVALUE([Opportunity].StageName),&quot;Commit&quot;), 

ISPICKVAL(PRIORVALUE([Opportunity].StageName),&quot;PO received&quot;), 
ISPICKVAL(PRIORVALUE([Opportunity].StageName),&quot;Closed Won&quot;))), 
AND( 
OR(ISCHANGED([Opportunity].StageName), 
ISCHANGED([Opportunity].Probability), 
ISCHANGED([Opportunity].Amount), 
ISCHANGED([Opportunity].CloseDate)), 
OR(ISPICKVAL([Opportunity].StageName,&quot;Pipeline&quot;), 
ISPICKVAL([Opportunity].StageName,&quot;Upside&quot;), 
ISPICKVAL([Opportunity].StageName,&quot;Strong Upside&quot;), 
ISPICKVAL([Opportunity].StageName,&quot;Commit&quot;), 
ISPICKVAL([Opportunity].StageName,&quot;PO received&quot;), 
ISPICKVAL([Opportunity].StageName,&quot;Closed Won&quot;), 
ISPICKVAL([Opportunity].StageName,&quot;Closed Lost&quot;)))))
</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>AND( 
{!myVariable_current.Account_Name__c}&lt;&gt;&quot;Rotondi Masonry&quot;, 
{!myVariable_current.Cisco_Opportunity__c} = TRUE, 
NOT(ISPICKVAL({!myVariable_current.Type},&quot;Maintenance Renewal&quot;)), 
RIGHT({!myVariable_current.Email_Update_Stamp__c},3)&lt;&gt;&quot;ZZZ&quot;, 

OR( 
AND( 
ISNEW(), 
OR(ISPICKVAL({!myVariable_current.StageName},&quot;Pipeline&quot;), 
ISPICKVAL({!myVariable_current.StageName},&quot;Upside&quot;), 
ISPICKVAL({!myVariable_current.StageName},&quot;Strong Upside&quot;), 
ISPICKVAL({!myVariable_current.StageName},&quot;Commit&quot;), 
ISPICKVAL({!myVariable_current.StageName},&quot;PO received&quot;), 
ISPICKVAL({!myVariable_current.StageName},&quot;Closed Won&quot;), 
ISPICKVAL({!myVariable_current.StageName},&quot;Closed Lost&quot;))), 
AND( 
ISCHANGED({!myVariable_current.StageName}), 
ISPICKVAL({!myVariable_current.StageName},&quot;Identify&quot;), 
OR(ISPICKVAL(PRIORVALUE({!myVariable_current.StageName}),&quot;Pipeline&quot;), 
ISPICKVAL(PRIORVALUE({!myVariable_current.StageName}),&quot;Upside&quot;), 
ISPICKVAL(PRIORVALUE({!myVariable_current.StageName}),&quot;Strong Upside&quot;), 
ISPICKVAL(PRIORVALUE({!myVariable_current.StageName}),&quot;Commit&quot;), 

ISPICKVAL(PRIORVALUE({!myVariable_current.StageName}),&quot;PO received&quot;), 
ISPICKVAL(PRIORVALUE({!myVariable_current.StageName}),&quot;Closed Won&quot;))), 
AND( 
OR(ISCHANGED({!myVariable_current.StageName}), 
ISCHANGED({!myVariable_current.Probability}), 
ISCHANGED({!myVariable_current.Amount}), 
ISCHANGED({!myVariable_current.CloseDate})), 
OR(ISPICKVAL({!myVariable_current.StageName},&quot;Pipeline&quot;), 
ISPICKVAL({!myVariable_current.StageName},&quot;Upside&quot;), 
ISPICKVAL({!myVariable_current.StageName},&quot;Strong Upside&quot;), 
ISPICKVAL({!myVariable_current.StageName},&quot;Commit&quot;), 
ISPICKVAL({!myVariable_current.StageName},&quot;PO received&quot;), 
ISPICKVAL({!myVariable_current.StageName},&quot;Closed Won&quot;), 
ISPICKVAL({!myVariable_current.StageName},&quot;Closed Lost&quot;)))))</expression>
    </formulas>
    <interviewLabel>V2_Cisco_Deal_Stage_Change-1_InterviewLabel</interviewLabel>
    <label>V2_Cisco Deal Stage Change</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>Opportunity</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <startElementReference>myVariable_waitStartTimeAssignment</startElementReference>
    <status>Draft</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>myVariable_waitStartTimeVariable</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDateTime</elementReference>
        </value>
    </variables>
</Flow>
